= form_for @bug, html: { class: "form form-horizontal bug" } do |f|
  .form-group
    = f.label :title, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, :class => 'form-control'
    = f.error_span(:title)
  .form-group
    = f.label :detail, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :detail, :class => 'form-control'
    = f.error_span(:detail)
  .form-group
    = f.label :owner_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select :owner_id, options_from_collection_for_select(User.all, :id, :full_name), include_blank: true, :class => 'form-control'
    = f.error_span(:owner_id)
    = f.error_span(:detail)
  .form-group
    = f.label :status, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select :status, @bug.next_possible_status, class: 'form-control'


  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), bugs_path, :class => 'btn'
