- model_class = Bug
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:title)
      th= model_class.human_attribute_name(:detail)
      th= model_class.human_attribute_name(:owner)
      th= model_class.human_attribute_name(:status)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @bugs.each do |bug|
      tr
        td= link_to bug.id, bug_path(bug)
        td= bug.title
        td= bug.detail
        td= bug.owner.full_name
        td= bug.status
        td=l bug.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_bug_path(bug), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), bug_path(bug), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_bug_path, :class => 'btn btn-primary'
