- model_class = Bug
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:title) + ': '
  = @bug.title
p
  strong= model_class.human_attribute_name(:detail) + ': '
  = @bug.detail
p
  strong= model_class.human_attribute_name(:owner_id) + ': '
  = @bug.owner.full_name
p
  strong= model_class.human_attribute_name(:status) + ': '
  = @bug.status

= link_to t('.back', :default => t("helpers.links.back")), bugs_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_bug_path(@bug), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), bug_path(@bug), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
